@charset "UTF-8";
/** Fuentes **/
/** Colores **/
/** Tamaños **/
html, body {
  width: 100%;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  touch-action: pan-y;
  position: relative;
  background-color: #000000;
  font-family: "Cormorant Garamond", serif;
}
html h1, html h2, html h3, html h4, body h1, body h2, body h3, body h4 {
  font-family: "Playfair Display", serif;
}
html a, body a {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.4)), linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%), url("../img/imagen-header.webp");
  background-position: center center;
  background-size: cover;
  min-height: 25rem;
  padding: 1.7rem;
}
header .contenedor-header {
  display: flex;
  justify-content: end;
  gap: 3rem;
  max-height: 2.75rem;
}
header .contenedor-header .titulo-header {
  font-size: 40px;
  color: #EDEDED;
  line-height: 1;
  padding-top: 0.6rem;
}
header .contenedor-header .nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 1.5rem 0rem;
}
header .contenedor-header .nav-list li {
  background-color: #1C1C1C;
  width: 100%;
  text-align: center;
  border-radius: 3px;
}
header .contenedor-header .nav-list li a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #D9762A;
  font-size: 1.2rem;
}
header .contenedor-header .nav-list .enlace:hover {
  color: #F29F05;
}
header .contenedor-header .nav-list .activo {
  color: #BB4430;
}
header .contenedor-header .abrir-menu,
header .contenedor-header .cerrar-menu {
  display: block;
  border: 0;
  font-size: 2.75rem;
  padding-top: 0.5rem;
  cursor: pointer;
  color: #F29F05;
  background-color: transparent;
}
header .contenedor-header .cerrar-menu {
  background-color: #1C1C1C;
  background: transparent;
}
header .contenedor-header .nav {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(33, 33, 33) 100%);
  padding: 1.7rem;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
header .contenedor-header .nav.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
header .contenedor-header .nav.ocultar {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
@media (min-width: 480px) {
  header .contenedor-header .abrir-menu,
  header .contenedor-header .cerrar-menu {
    display: none;
  }
  header .contenedor-header .nav {
    opacity: 1;
    visibility: visible;
    transform: none;
    position: static;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }
  header .contenedor-header .nav-list {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}
@media (min-width: 768px) {
  header .contenedor-header {
    justify-content: space-around;
  }
}
header .seccion-header {
  text-align: right;
  padding-top: 5rem;
}
header .seccion-header h2 {
  color: #D9762A;
  font-size: 1.5rem;
}
header .seccion-header p {
  color: #EDEDED;
  font-size: 1.2rem;
  margin: 0.7rem 0 2rem 1.5rem;
  line-height: 1.4;
}
header .seccion-header .boton-header {
  color: #EDEDED;
  background-color: #D9762A;
  text-decoration: none;
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
  font-size: 1.1rem;
  border-radius: 3px;
}
header .seccion-header .boton-header:hover {
  background-color: #BB4430;
}

main .imagen-png {
  margin-top: 2rem;
}
main .titulo-servicios {
  color: #D9762A;
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem;
}
main .seccion-main {
  margin-top: 3.3rem;
}
main .seccion-main .div-1 {
  position: relative;
  overflow: hidden;
  background-image: url("../img/imagen1.jpg");
  background-position: center center;
  background-size: cover;
  height: 13rem;
  margin: 0 1.5rem 3rem 1.5rem;
  display: flex;
  align-items: flex-end;
  border: 2px solid black;
}
main .seccion-main .div-1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1;
}
main .seccion-main .div-1 div {
  position: relative;
  z-index: 2;
  padding: 0 2rem 1.7rem 1.7rem;
}
main .seccion-main .div-1 div h1 {
  color: #EDEDED;
  font-size: 1.5rem;
}
main .seccion-main .div-1 div p {
  color: #EDEDED;
  margin: 0.5rem 0 1.5rem 0;
  line-height: 1.4;
  font-size: 1.1rem;
}
main .seccion-main .div-1 div a {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: #EDEDED;
  background-color: #B85C1C;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2rem;
}
main .seccion-main .div-1 div a:hover {
  background-color: #BB4430;
}
main .seccion-main .div-2 {
  position: relative;
  overflow: hidden;
  background-image: url("../img/imagen2.jpg");
  background-position: center center;
  background-size: cover;
  height: 13rem;
  margin: 0 1.5rem 3rem 1.5rem;
  display: flex;
  align-items: flex-end;
}
main .seccion-main .div-2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1;
}
main .seccion-main .div-2 div {
  position: relative;
  z-index: 2;
  padding: 0 2rem 1.7rem 1.7rem;
}
main .seccion-main .div-2 div h1 {
  color: #EDEDED;
  font-size: 1.5rem;
}
main .seccion-main .div-2 div p {
  color: #EDEDED;
  margin: 0.5rem 0 1.5rem 0;
  line-height: 1.4;
  font-size: 1.1rem;
}
main .seccion-main .div-2 div a {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: #EDEDED;
  background-color: #B85C1C;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2rem;
}
main .seccion-main .div-2 div a:hover {
  background-color: #BB4430;
}
main .seccion-main .div-3 {
  position: relative;
  overflow: hidden;
  background-image: url("../img/imagen3.jpg");
  background-position: center center;
  background-size: cover;
  height: 13rem;
  margin: 0 1.5rem 3rem 1.5rem;
  display: flex;
  align-items: flex-end;
}
main .seccion-main .div-3::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1;
}
main .seccion-main .div-3 div {
  position: relative;
  z-index: 2;
  padding: 0 2rem 1.7rem 1.7rem;
}
main .seccion-main .div-3 div h1 {
  color: #EDEDED;
  font-size: 1.5rem;
}
main .seccion-main .div-3 div p {
  color: #EDEDED;
  margin: 0.5rem 0 1.5rem 0;
  line-height: 1.4;
  font-size: 1.1rem;
}
main .seccion-main .div-3 div a {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: #EDEDED;
  background-color: #B85C1C;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2rem;
}
main .seccion-main .div-3 div a:hover {
  background-color: #BB4430;
}
main .seccion-main .div-4 {
  position: relative;
  overflow: hidden;
  background-image: url("../img/imagen4.jpg");
  background-position: center center;
  background-size: cover;
  height: 13rem;
  margin: 0 1.5rem 3rem 1.5rem;
  display: flex;
  align-items: flex-end;
}
main .seccion-main .div-4::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1;
}
main .seccion-main .div-4 div {
  position: relative;
  z-index: 2;
  padding: 0 2rem 1.7rem 1.7rem;
}
main .seccion-main .div-4 div h1 {
  color: #EDEDED;
  font-size: 1.5rem;
}
main .seccion-main .div-4 div p {
  color: #EDEDED;
  margin: 0.5rem 0 1.5rem 0;
  line-height: 1.4;
  font-size: 1.1rem;
}
main .seccion-main .div-4 div a {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: #EDEDED;
  background-color: #B85C1C;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2rem;
}
main .seccion-main .div-4 div a:hover {
  background-color: #BB4430;
}

main .titulo-precios {
  color: #EDEDED;
  text-align: center;
  padding: 2.5rem 2rem 1.5rem 2rem;
  font-size: 2.2rem;
}
main .formas {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .formas .forma-1 {
  height: 2px;
  width: 30%;
  background-color: #6b6b6b;
}
main .formas .forma-2 {
  height: 7px;
  width: 2%;
  border-radius: 3px;
  margin: 0rem 1rem;
  background-color: #6b6b6b;
}
main .formas .forma-3 {
  height: 2px;
  width: 30%;
  background-color: #6b6b6b;
}
main .texto-precio {
  color: #EDEDED;
  text-align: center;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
}
main section a {
  text-decoration: none;
}
main section a .producto {
  background-color: #080808;
  margin: 2rem 2rem 3rem 2rem;
  padding: 1rem;
  border-radius: 7px;
  border: 2px solid #D9762A;
}
main section a .producto h1 {
  color: #EDEDED;
  text-align: center;
  padding: 1rem;
  font-size: 1.9rem;
}
main section a .producto .texto-1 {
  color: #EDEDED;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}
main section a .producto .texto-2 {
  color: #6b6b6b;
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem 0 0.3rem 0;
}
main section a .producto .estrellas {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: #D9762A;
  text-align: center;
}
main section a .producto ul {
  list-style-type: none;
  color: #D9762A;
  text-align: center;
  padding: 1.2rem 0;
}
main section a .producto ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  color: #EDEDED;
  padding: 0.2rem;
}
main section a .producto .precio {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #D9762A;
  font-size: 1.4rem;
  padding: 0.5rem 0 1.5rem 0;
}

/*# sourceMappingURL=main.css.map */
