@use '../utilidades/variables' as v;
@use '../utilidades/mixins' as m;

footer {
    background: #7A3712;
    background: linear-gradient(0deg,rgba(122, 55, 18, 1) 0%, rgba(0, 0, 0, 1) 64%);

    section {
        padding: 3rem 2rem 2rem 2rem;
        text-align: center;

        .div-1 {
            margin: 3rem 0rem;

            .icono {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                border: 2px solid v.$naranja-dorado;
                border-radius: 50%;
                margin: 0 auto;

                .bi-geo-alt-fill {
                    color: v.$naranja;
                    font-size: 1.5rem;
                    line-height: 0;
                }
            }

            h2 {
                color: v.$blanco-humo;
                font-size: 1.2rem;
                padding: 1.5rem 1rem 0.3rem 1rem;
            }

            p {
                color: v.$blanco-humo;
                font-size: 1.2rem;
            }
        }

        .div-2 {
            margin-bottom: 3rem;

            .icono {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                border: 2px solid v.$naranja-dorado;
                border-radius: 50%;
                margin: 0 auto;

                .bi-telephone-fill{
                    color: v.$naranja;
                    font-size: 1.5rem;
                    line-height: 0;
                }
            }

            h2 {
                color: v.$blanco-humo;
                font-size: 1.5rem;
                padding: 1.5rem 1rem 0.5rem 1rem;
            }

            p {
                color: v.$blanco-humo;
                font-size: 1rem;
                font-family: 'Roboto', sans-serif;
            }
        }

        .div-3 {
            margin-bottom: 1rem;

            .icono {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                border: 2px solid v.$naranja-dorado;
                border-radius: 50%;
                margin: 0 auto;

                .bi-envelope-fill{
                    color: v.$naranja;
                    font-size: 1.5rem;
                    line-height: 0;
                }
            }

            h2 {
                color: v.$blanco-humo;
                font-size: 1.5rem;
                padding: 1.5rem 1rem 0.3rem 1rem;
            }

            p {
                color: v.$blanco-humo;
                font-size: 1.5rem;
            }
        }
    }

    .nota {
        color: v.$blanco-humo;
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem;

        @include m.telefono {
            max-width: 550px;
            width: 90%;
            margin: 0 auto;
        }
    }

    .seguinos {
        color: v.$blanco-humo;
        text-align: center;
        margin: 1rem 0 1rem 0;
        font-size: 1.4rem;
    }

    .redes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        a {
            color: v.$naranja-dorado;
            text-decoration: none;
            font-size: 1.5rem;
        }
    }

    .derechos {
        color: v.$gris-muy-claro;
        font-size: 1.2rem;
        text-align: center;
        padding: 4rem 2rem 3rem 2rem;
    }
}