@use '../utilidades/variables' as v;
@use '../utilidades/mixins' as m;


main {

    .imagen-png {
        margin-top: 2rem;

        @include m.tablet {
            display: none;
        }
    }

    .titulo-servicios {
        color: v.$naranja;
        text-align: center;
        margin-top: 2rem;
        font-size: 2.5rem;

        @include m.telefono {
            margin-top: 0;
        }

        @include m.tablet {
            margin: 8rem 0 2rem 0;
        }

        @include m.monitor {
            margin: 1rem 0 2rem 0;
        }
    }

    .seccion-main {
        margin-top: 3.3rem;

        .div-1 {
            position: relative;
            overflow: hidden;
            background-image: url("../img/imagen1.jpg");
            background-position: center center;
            background-size: cover;
            height: 13rem;
            margin: 0 1rem 3rem 1rem;
            display: flex;
            align-items: flex-end;


            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 0.3); 
                backdrop-filter: blur(4px);  
                -webkit-backdrop-filter: blur(4px);   
                z-index: 1;
            }

            div {
                position: relative;
                z-index: 2;
                padding: 0 1.3rem 1.7rem 1.3rem;

                h1 {
                    color: v.$blanco-humo;
                    font-size: 1.5rem;

                    @include m.laptop {
                        font-size: 1.8rem;
                    }
                }
                p {
                    color: v.$blanco-humo;
                    margin: 0.5rem 0 1.5rem 0;
                    line-height: 1.4;
                    font-size: 1.1rem;

                    @include m.laptop {
                        font-size: 1.3rem;
                    }
                    
                    @include m.monitor {
                        white-space: pre-line;
                    }
                }
                a {
                    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                    color: v.$blanco-humo;
                    background-color: v.$naranja-oscuro;
                    border-radius: 3px;
                    text-decoration: none;
                    font-size: 1.2rem;
                    transition: background-color 0.4s ease, color 0.4s ease;

                    &:hover {
                        background-color: v.$rojo-suave;
                    }

                    @include m.laptop {
                        font-size: 1.4rem;
                    }
                }

                @include m.laptop {
                    padding: 0 2rem 2.3rem 2rem;
                }

                @include m.monitor {
                    padding: 0 2rem 3rem 2.5rem;
                }
            }

            @include m.telefono {
                margin: 2rem 1rem 2rem 1rem;
            }

            @include m.tablet {
                height: 18rem;
            }

            @include m.laptop{
                height: 23rem;
            }
        }
        .div-2 {
            position: relative;
            overflow: hidden;
            background-image: url("../img/imagen2.jpg");
            background-position: center center;
            background-size: cover;
            height: 13rem;
            margin: 0 1rem 3rem 1rem;
            display: flex;
            align-items: flex-end;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 0.3); 
                backdrop-filter: blur(4px);  
                -webkit-backdrop-filter: blur(4px);   
                z-index: 1;
            }

            div {
                position: relative;
                z-index: 2;
                padding: 0 1.3rem 1.7rem 1.3rem;
                

                h1 {
                    color: v.$blanco-humo;
                    font-size: 1.5rem;

                    @include m.laptop {
                        font-size: 1.8rem;
                    }
                }
                p {
                    color: v.$blanco-humo;
                    margin: 0.5rem 0 1.5rem 0;
                    line-height: 1.4;
                    font-size: 1.1rem;

                    @include m.laptop {
                        font-size: 1.3rem;
                    }

                    @include m.monitor {
                        white-space: pre-line;
                    }
                }
                a {
                    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                    color: v.$blanco-humo;
                    background-color: v.$naranja-oscuro;
                    border-radius: 3px;
                    text-decoration: none;
                    font-size: 1.2rem;
                    transition: background-color 0.4s ease, color 0.4s ease;

                    &:hover {
                        background-color: v.$rojo-suave;
                    }

                    @include m.laptop {
                        font-size: 1.4rem;
                    }
                }

                @include m.laptop {
                    padding: 0 2rem 2.3rem 2rem;
                }

                @include m.monitor {
                    padding: 0 2rem 3rem 2.5rem;
                }
            }

            @include m.telefono {
                margin: 2rem 1rem 2rem 1rem;
            }

            @include m.tablet {
                height: 18rem;
            }

            @include m.laptop {
                height: 23rem;
            }
        }
        .div-3 {
            position: relative;
            overflow: hidden;
            background-image: url("../img/imagen3.jpg");
            background-position: center center;
            background-size: cover;
            height: 13rem;
            margin: 0 1rem 3rem 1rem;
            display: flex;
            align-items: flex-end;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 0.7); 
                backdrop-filter: blur(4px);  
                -webkit-backdrop-filter: blur(4px);   
                z-index: 1;
            }

            div {
                position: relative;
                z-index: 2;
                padding: 0 1.3rem 1.7rem 1.3rem;
                

                h1 {
                    color: v.$blanco-humo;
                    font-size: 1.5rem;

                    @include m.laptop {
                        font-size: 1.8rem;
                    }
                }
                p {
                    color: v.$blanco-humo;
                    margin: 0.5rem 0 1.5rem 0;
                    line-height: 1.4;
                    font-size: 1.1rem;

                    @include m.laptop {
                        font-size: 1.3rem;
                    }

                    @include m.monitor {
                        white-space: pre-line;
                    }
                }
                a {
                    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                    color: v.$blanco-humo;
                    background-color: v.$naranja-oscuro;
                    border-radius: 3px;
                    text-decoration: none;
                    font-size: 1.2rem;
                    transition: background-color 0.4s ease, color 0.4s ease;

                    &:hover {
                        background-color: v.$rojo-suave;
                    }

                    @include m.laptop {
                        font-size: 1.4rem;
                    }
                }

                @include m.laptop {
                    padding: 0 2rem 2.3rem 2rem;
                }

                @include m.monitor {
                    padding: 0 2rem 3rem 2.5rem;
                }
            }

            @include m.telefono {
                margin: 2rem 1rem 2rem 1rem;
            }

            @include m.tablet {
                height: 18rem;
            }

            @include m.laptop {
                height: 23rem;
            }
        }
        .div-4 {
            position: relative;
            overflow: hidden;
            background-image: url("../img/imagen4.jpg");
            background-position: center center;
            background-size: cover;
            height: 13rem;
            margin: 0 1rem 3rem 1rem;
            display: flex;
            align-items: flex-end;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 0.4); 
                backdrop-filter: blur(4px);  
                -webkit-backdrop-filter: blur(4px);   
                z-index: 1;
            }

            div {
                position: relative;
                z-index: 2;
                padding: 0 1.3rem 1.7rem 1.3rem;
                

                h1 {
                    color: v.$blanco-humo;
                    font-size: 1.5rem;

                    @include m.laptop {
                        font-size: 1.8rem;
                    }
                }
                p {
                    color: v.$blanco-humo;
                    margin: 0.5rem 0 1.5rem 0;
                    line-height: 1.4;
                    font-size: 1.1rem;

                    @include m.laptop {
                        font-size: 1.3rem;
                    }

                    @include m.monitor {
                        white-space: pre-line;
                    }
                }
                a {
                    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                    color: v.$blanco-humo;
                    background-color: v.$naranja-oscuro;
                    border-radius: 3px;
                    text-decoration: none;
                    font-size: 1.2rem;
                    transition: background-color 0.4s ease, color 0.4s ease;

                    &:hover {
                        background-color: v.$rojo-suave;
                    }

                    @include m.laptop {
                        font-size: 1.4rem;
                    }
                }

                @include m.laptop {
                    padding: 0 2rem 2.3rem 2rem;
                }

                @include m.monitor {
                    padding: 0 2rem 3rem 2.5rem;
                }
            }

            @include m.telefono {
                margin: 2rem 1rem 2rem 1rem;
            }

            @include m.tablet {
                height: 18rem;
            }

            @include m.laptop {
                height: 23rem;
            }
        }

        @include m.telefono {
            max-width: 520px;
            width: 90%;
            margin: 0 auto;
        }

        @include m.tablet {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            max-width: 920px;
        }

        @include m.laptop {
            max-width: 1020px;
        }

        @include m.monitor {
            max-width: 1300px;
        }
    }
}