@use '../utilidades/variables' as v;

html, body {
    width: 100%;
    overflow-x: hidden !important; 
    margin: 0;
    padding: 0;
    touch-action: pan-y; 
    position: relative;
    background-color: v.$negro;
    font-family: "Cormorant Garamond", serif;

    h1, h2, h3, h4 {
        font-family: "Playfair Display", serif;
    }

    a {
        font-family: "Cormorant Garamond", serif;
        font-weight: 700;
    }
}

* {
    box-sizing: border-box;
    max-width: 100%; 
    margin: 0;
    padding: 0;
}