/** Fuentes **/

/** Colores **/

$negro: #0A0608;
$gris-carbon: #1C1C1C;
$naranja: #D9762A;
$naranja-dorado: #F29F05;
$blanco-humo: #EDEDED;
$gris-claro: #CCCCCC;
$rojo-suave: #BB4430;

/** Tamaños **/

$telefono: 480px;
$tablet: 768px;
$laptop: 1140px;
$monitor: 1400px;