/** Fuentes **/

/** Colores **/

$negro: #000000;
$negro-claro: #080808;
$gris-carbon: #1C1C1C;
$gris-oscuro: #141414;
$naranja: #D9762A;
$naranja-dorado: #F29F05;
$blanco-humo: #EDEDED;
$gris-claro: #6b6b6b;
$gris-muy-claro: #b8b8b8;
$rojo-suave: #BB4430;
$naranja-oscuro: #B85C1C;

/** Tamaños **/

$telefono: 480px;
$tablet: 768px;
$laptop: 1140px;
$monitor: 1400px;